@model DLL.Entities.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details on order number @Model.Id</h2>

<div class="row">
    <div class="col-md-6">
        <h4>Customer info</h4>
        <div class="row">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ApplicationUser.FirstName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ApplicationUser.FirstName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ApplicationUser.LastName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ApplicationUser.LastName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ApplicationUser.Email)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ApplicationUser.Email)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ApplicationUser.Address.StreetName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ApplicationUser.Address.StreetName) @Html.DisplayFor(model => model.ApplicationUser.Address.StreetNumber)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ApplicationUser.Address.ZipCode)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ApplicationUser.Address.ZipCode)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ApplicationUser.Address.Country)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ApplicationUser.Address.Country)
                </dd>
            </dl>
        </div>
    </div>

    <div class="col-md-6">
        <h4>Product info</h4>
        <div class="row">
            <dl class="dl-horizontal">
                @foreach (var movie in Model.Movies) {
                    <dt>@movie.Title</dt>
                }
                <dt>Total price: @Model.TotalPrice$</dt>
            </dl>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>