@model IEnumerable<DLL.Entities.Genre>
@{
    ViewBag.Title = "Index";
}

<h4>Genres</h4>
<hr/>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model) {
    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>@item.Name</p>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
            </div>
        </div>
    </div>

}