@model IEnumerable<DLL.Entities.Genre>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model) {
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-3">
                <p>@item.Name</p>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
            </div>
        </div>
    </div>

}