@model List<DLL.Entities.Movie>
@{
    ViewBag.Title = "Home Page";
}

<div class="container" style="padding-top: 30px;">
    @foreach (var movie in Model) {
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="thumbnail" style="margin-top: 10px;">
                <a href="@Url.Action("Details", new {id = movie.Id})">
                    <img class="img-responsive" src="@movie.ImageUrl" alt="">
                </a>
                <div class="caption">
                    <h4 class="pull-right">$@movie.Price</h4>
                    <h4>
                        <a href="@Url.Action("Details", new {id = movie.Id})">@movie.Title</a>
                    </h4>
                    <a href="@Url.Action("BuyPage", new {id = movie.Id})" class="btn btn-info pull-right">Buy</a>
                    <p>
                        @movie.Year
                    </p>
                </div>
            </div>
        </div>
    }
</div>