@model Shop.Views.Movies.BuyPageViewModel
@{
    ViewBag.Title = "BuyPage";
}

<h2>Buy Movie</h2>

<div class="container" style="padding-top: 30px">
    <div class="col-md-7">
        
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Movie.Id)
                @Html.HiddenFor(model => model.Movie.Genre.Name)
                @Html.HiddenFor(model => model.Movie.Genre.Id)
                @Html.HiddenFor(model => model.Movie.Price)
                @Html.HiddenFor(model => model.Movie.TrailerUrl)
                @Html.HiddenFor(model => model.Movie.ImageUrl)
                @Html.HiddenFor(model => model.Movie.Year)

                <h4>Movie</h4>

                <div class="form-group">
                    @Html.LabelFor(model => model.Movie.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(x => x.Movie.Title, new { @readonly = "readonly", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Movie.Title, "", new { @class = "text-danger" })
                    </div>
                </div>
                
                <h4>Personal info</h4>
                
                <div class="form-group">
                    @Html.LabelFor(model => model.Customer.FirstName, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.TextBoxFor(x => x.Customer.FirstName, new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.Customer.FirstName, "", new { @class = "text-danger"})
                    </div>
                </div>
                
                <div class="form-group">
                    @Html.LabelFor(model => model.Customer.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(x => x.Customer.LastName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Customer.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>
                
                <div class="form-group">
                    @Html.LabelFor(model => model.Customer.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(x => x.Customer.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Customer.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                
                <div class="form-group">
                    @Html.LabelFor(model => model.Customer.Address.StreetName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(x => x.Customer.Address.StreetName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Customer.Address.StreetName, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.Customer.Address.StreetNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.TextBoxFor(x => x.Customer.Address.StreetNumber, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Customer.Address.StreetNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
                
                <div class="form-group">
                    @Html.LabelFor(model => model.Customer.Address.ZipCode, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(x => x.Customer.Address.ZipCode, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Customer.Address.ZipCode, "", new { @class = "text-danger" })
                    </div>
                </div>
                
                <div class="form-group">
                    @Html.LabelFor(model => model.Customer.Address.Country, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(x => x.Customer.Address.Country, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Customer.Address.Country, "", new { @class = "text-danger" })
                    </div>
                </div>
                
                <div class="form-group">
                    @Html.Label("Promo Code", htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.TextBox("promoCode", "", new {@class = "form-control"})
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Buy @Model.Movie.Price$" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
        

    </div>

    <div class="col-md-5">
        <img class="img-responsive" src="@Model.Movie.ImageUrl" alt="">
    </div>
</div>