@model AuthTest.Models.HomeIndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="container" style="padding-top: 30px;">
    <div class="row">
        @foreach (var movie in Model.Movies) {
            <div class="col-lg-3 col-md-4 col-sm-6" style="max-height: 520px">
                <div class="thumbnail" style="margin-top: 10px;">
                    <a href="@Url.Action("Details", new {id = movie.Id})">
                        <div style="position: relative; overflow: hidden; padding-bottom: 148%">
                            <img class="img-responsive" src="@movie.ImageUrl" alt="" style="position: absolute; margin: auto">
                        </div>
                    </a>
                    <div class="caption">
                        <h4 class="pull-right">$@movie.Price</h4>
                        <h4>
                            <a href="@Url.Action("Details", new {id = movie.Id})">@movie.Title</a>
                        </h4>
                        <a href="@Url.Action("AddToCart", "Cart", new {id = movie.Id})" class="btn btn-info pull-right">Add to cart</a>
                        <p>
                            @movie.Year
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="text-center">
            <ul class="pagination">
                @for (int i = 1; i < Model.MaxPages + 1; i++) {
                    <li @if (Model.CurrentPage == i) {
                            <text>class="active"</text>
                        }>
                        <a href="@Url.Action("Index", new {page = i})">@(i)</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>